<div class="jumbotron">

	<center>
		<h1>THIS IS WHEN YOU GO FROM BORING TO GLOWING!</h1>

		<img src="http://media.artofbeauty.com/1069921.Zoya_Whispers_Focus_715x522%20b.jpg">
		<br>

		<%= link_to "Start Getting Pretty Now!", polishes_path, class: "btn btn-default" %>
	</center>
</div>